/*
  ====================
  SASS variables
  ====================
*/

$primary-color: #00bcd4;
$light-color: #e6fcff;
$soft-text: 'Arima Madurai', cursive;
$olc-font: 'Dancing Script', cursive;

.softText {
  font-family: 'Asap', sans-serif;
}

body {
    font-family: 'Asap', sans-serif;
    background-image: url("https://source.unsplash.com/EWDvHNNfUmQ/800x600");
    margin-top: 15% !important;
    margin-bottom: 25% !important;
}

.standardWidth {
  width: 95%;
  margin: 0% auto !important;
}

.whiteBackground {
  background-color: white;
}

.topLevelDiv {
  margin: 10% 0% 15% 0%;
}

.pageHeader {
  color: black;
  margin-left: 5% !important;
  text-align: center;
}

/*
  ====================
  Profile Styling
  ====================
*/

.profile.upcomingEvents.container {
  margin: 5% 5% 5% 5%;
}

.eventText {
  font-size: 14px;
}

.eventCard {
  width: 50%;
}

.profile.userCard {
  margin: 5% auto;
}

.loginForms {
  margin: 5% auto;
  width: 80%;
  background-color: white;
  padding: 5%;
  border-radius: 10px;
  margin-top: 50% !important;
}

.chefCheckbox {
  margin: 5% auto;
}

/*
  ====================
  Selected Event/Chef
  ====================
*/

#selectedEventCard {
  width: 95% !important;
  margin-bottom: 20% !important;
}

.selectedCardTitle {
  font-size: 150%;
  margin-bottom: 5%;
}

.selectedEventCardDiv {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20%;
}

.detailSegment {
  font-size: 150%;
  border-bottom-style: solid;
  border-bottom-width: thin;
  border-bottom-color: lightgray;
  margin: 5% 0%;
  padding-bottom: 5%;
}

/*
  ====================
  Landing Page Styling
  ====================
*/

.iconPadding {
  margin-bottom: 14px;
}

/*
  ====================
  Landing Page Styling
  ====================
*/

.flexy {
  display: flex;
}

.OLCtitle {
  font-family: $olc-font;
  text-align: center;
  font-size: 300%;
  font-weight: 700;
}

.scriptFont {
  font-family: $olc-font;
  font-weight: 400;
}

.scriptFont.storyText {
  text-align: center;
  font-size: 135%;
  padding-bottom: 1em;
}

.scriptFont.title {
  text-align: center;
  font-size: 200%;
}

.logoColumn {
  padding-right: 0 !important;
}

.textColumn{
  padding-left: 0 !important;
}

.OLClogo {
  background-color: $light-color;
  margin: 0, 1rem !important;
  padding: 0 !important;
}

.textBox {
  background-color: $primary-color !important;
  text-align: center;
}

.cardHolder {
  display: flex;
  align-items: center;
  justify-content: center;
}

.landingCards {
  float: left;
  margin: 5% !important;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/*
  ====================
  NavBar Styling
  ====================
*/

.nav {
  background-color: $primary-color !important;
  color: white !important;
  font-weight: 400;
}

.navBarContainer {
  position: fixed;
  top: 0;
  z-index: 999;
  width: 100%;
  display: flex;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 6px, rgba(0, 0, 0, 0.12) 0px 1px 4px;
}

.bottom {
  top: initial;
  bottom: 0;
}


/*
  ====================
  Generic Styling
  ====================
*/

.center {
  display: table;
  margin: auto;
}

.mediumFont {
  font-size: 75% !important;
}

.lightlyColored {
  background-color: $light-color !important;
}

.OLCcolor {
  color: $primary-color !important;
}

.boxed {
  width: 90%;
}

.rounded {
  border-radius: 50%;
}

.miniPadding {
  margin-top: 5%;
  margin-bottom: 5%;
}

.floatRight {
  float: right;
}

.floatRight {
  float: right;
}

.hidden {
  display: none;
}


/*
  ====================
  Chat Styling
  ====================
*/

.chatInput {
  font-size: 150%;
  position: fixed;
  bottom: 0;
  margin-bottom: 13%;
  z-index: 999;
  width: 100%;
  height: 7%;
  display: flex;
  // background-color: $primary-color;
  // color: white;
  // box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 6px, rgba(0, 0, 0, 0.12) 0px 1px 4px;
}

.senderMessages {
  min-height: 35px;
  clear: both;
  float: right;
  width: 60%;
  margin: 1% 5%;
  border-radius: 5px;
  padding: 2%;
  background-color: $light-color;
}

.receiverMessages {
  min-height: 35px;
  clear: both;
  float: left;
  width: 60%;
  margin: 1% 5%;
  border-radius: 5px;
  padding: 2%;
  background-color: white;
}

.chatDiv {
  margin: 20% 0% 30% 0%;
}

#chatInput {
  border-radius: 0px;
}

.chatListItems {
  font-size: 150% !important;
}

.chatHeader {
  font-size: 150% !important;
  font-weight: bold;
  text-align: center;
  font-family: helvetica;
}

.convoTime {
  float: right;
  font-size: 50%;
  text-decoration: italic;
}

.chatTime {
  font-size: 50%;
  text-decoration: italic;
}


/*
  ====================
  Button Styling
  ====================
*/

.btn {
  background-color: $primary-color !important;
}

.btnDiv {
    display: flex;
    justify-content: space-around;
}