/*
  ====================
  SASS variables
  ====================
*/

$primary-color: #00bcd4;
$secondary-color: #00bcd4;

body {
    font-family: 'Roboto', sans-serif;
    // background-color: #e5f8fa;
    background-image: url("https://source.unsplash.com/EWDvHNNfUmQ/1600x900");
    margin-top: 5% !important;
}

.topLevelDiv {
  margin: 20% 0% 20% 0%;
}

.pageHeader {
  color: black;
  margin-left: 5% !important;
  text-align: center;
}

/*
  ====================
  Profile Styling
  ====================
*/

.profile.upcomingEvents.container {
  margin: 5% 5% 5% 5%;
}

.profile.event.text {
  font-size: 14px;
  text-align: center;
  display: flex;
}

.profile.userCard {
  margin: 5% auto;
}

/*
  ====================
  Landing Page Styling
  ====================
*/

.cardHolder {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 75%;
}

.landingCards {
  float: left;
  margin: 5% !important;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/*
  ====================
  NavBar Styling
  ====================
*/

.navBarContainer {
  position: fixed;
  top: 0;
  z-index: 999;
  width: 100%;
  display: flex;
  background-color: $primary-color;
  color: white;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 6px, rgba(0, 0, 0, 0.12) 0px 1px 4px;
}

.loggedInNavBarContainer {
  position: fixed;
  bottom: 0;
  z-index: 999;
  width: 100%;
  display: flex;
  background-color: $primary-color;
  color: white;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 6px, rgba(0, 0, 0, 0.12) 0px 1px 4px;
}


.navBarTitle {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0% 0% 0% 5%;
  padding: 0%;
  letter-spacing: 0%;
  font-size: 150%;
  font-weight: 400;
  color: rgb(255, 255, 255) !important;
  height: 64px;
  line-height: 64px;
  width: 75% !important;
}

.navBarLink {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0% 0% 0% 5%;
  padding: 0%;
  border-right-style: solid;
  border-right-color: white;
  border-right-width: thin;
  letter-spacing: 0%;
  font-size: 150%;
  font-weight: 400;
  color: rgb(255, 255, 255) !important;
  height: 64px;
  line-height: 64px;
  width: 25% !important;
}

.navBarLastLink {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0% 0% 0% 5%;
  padding: 0%;
  letter-spacing: 0%;
  font-size: 150%;
  font-weight: 400;
  color: rgb(255, 255, 255) !important;
  height: 64px;
  line-height: 64px;
  width: 25% !important;
}

.navBarLogin {
  float: right;
  text-align: right;
  white-space: nowrap;
  overflow: hidden;
  padding-right: 5%;
  text-overflow: ellipsis;
  letter-spacing: 0%;
  font-size: 150%;
  font-weight: 400;
  color: rgb(255, 255, 255) !important;
  height: 64px;
  line-height: 64px;
  width: 25% !important;
}

.browseEventCards {
  margin: 5% auto !important;
}

.yearsExperienceCard {
  margin-left: 15% !important;
}

.eventBudget {
  float: right;
}


.loginDropdown {
  position: fixed;
  width: 25%;
  margin: 0% 0% 0% 0%;
  text-align: center;
  background-color: $primary-color;
  color: white;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 6px, rgba(0, 0, 0, 0.12) 0px 1px 4px;
}

.loginLink {
  color: white;
  margin: 0px auto;

}

.dropdownLinkContainer {
  border-bottom-style: solid;
  border-color: white;
  border-bottom-width: thin;
}

.loginDropdownText {
  color: white;
}

/*
  ====================
  Generic Styling
  ====================
*/

.center {
  display: table;
  margin: auto;
}


